# DataFrame

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame({
    'İsim' : ['Emincan' , 'Ali' , 'Murat' , 'Aslı' , 'Fatma'] ,
    'Yas' : [26,21,25,30,18],
    'İl' : ['Rize' , 'İstanbul' , 'Ankara' , 'İzmir' , 'Eskisehir']
} , index= ['A' , 'B' , 'C' , 'D' , 'E'] )

df

      İsim  Yas         İl
A  Emincan   26       Rize
B      Ali   21   İstanbul
C    Murat   25     Ankara
D     Aslı   30      İzmir
E    Fatma   18  Eskisehir

## Hazır Datayı Okumak

In [ ]:
# pd.read_csv() # %80
# pd.read_excel() # % 5
# pd.read_json() # %2

In [ ]:
# pd.read_csv('country_table.csv')

In [ ]:
# pd.read_excel('deneme.xlsx')

In [ ]:
# pd.read_json('example_1.json' , typ = 'series')

In [ ]:
df = pd.read_csv('Diamonds.csv')
df

,Unnamed: 0,id,carat,cut,color,clarity,depth,table,price,x,y,z,price2
0,0,0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,NaN
1,1,1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,326000.0
2,2,2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,327000.0
3,3,3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,NaN
4,4,4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,335000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,53935,53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,2757000.0
53936,53936,53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,2757000.0
53937,53937,53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,NaN
53938,53938,53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,2757000.0
53939,53939,53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,NaN

# Data Ön İzleme

In [ ]:
df.head(3)

,Unnamed: 0,id,carat,cut,color,clarity,depth,table,price,x,y,z,price2
0,0,0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,NaN
1,1,1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,326000.0
2,2,2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,327000.0

In [ ]:
df.tail(2)

,Unnamed: 0,id,carat,cut,color,clarity,depth,table,price,x,y,z,price2
53938,53938,53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,2757000.0
53939,53939,53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,NaN

In [ ]:
df.sample(5)

,Unnamed: 0,id,carat,cut,color,clarity,depth,table,price,x,y,z,price2
16450,16450,16450,1.20,Ideal,H,SI1,61.2,60.0,6569,6.87,6.82,4.19,6569000.0
21704,21704,21704,0.31,Ideal,E,VS2,61.7,57.0,627,4.35,4.37,2.69,627000.0
4551,4551,4551,0.90,Very Good,J,VS1,62.4,57.0,3643,6.13,6.18,3.84,3643000.0
25605,25605,25605,1.60,Ideal,G,VS2,62.2,55.0,14474,7.50,7.46,4.65,14474000.0
35182,35182,35182,0.31,Ideal,G,IF,62.0,54.0,891,4.36,4.38,2.71,891000.0

In [ ]:
df.shape

(53940, 13)

In [ ]:
df.isna().sum()

Unnamed: 0    0
id            0
carat         0
cut           0
color         0
clarity       1
depth         0
table         0
price         0
x             0
y             0
z             0
price2        4
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   id          53940 non-null  int64
 2   carat       53940 non-null  float64
 3   cut         53940 non-null  object
 4   color       53940 non-null  object
 5   clarity     53939 non-null  object
 6   depth       53940 non-null  float64
 7   table       53940 non-null  float64
 8   price       53940 non-null  int64
 9   x           53940 non-null  float64
 10  y           53940 non-null  float64
 11  z           53940 non-null  float64
 12  price2      53936 non-null  float64
dtypes: float64(7), int64(3), object(3)
memory usage: 5.4+ MB

In [ ]:
df.columns

Index(['Unnamed: 0', 'id', 'carat', 'cut', 'color', 'clarity', 'depth',
       'table', 'price', 'x', 'y', 'z', 'price2'],
      dtype='object')

In [ ]:
df.describe()

,Unnamed: 0,id,carat,depth,table,price,x,y,z,price2
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,5.393600e+04
mean,26969.500000,26969.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734,3.932977e+06
std,15571.281097,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699,3.989521e+06
min,0.000000,0.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000,3.260000e+05
25%,13484.750000,13484.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000,9.500000e+05
50%,26969.500000,26969.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000,2.401000e+06
75%,40454.250000,40454.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000,5.325000e+06
max,53939.000000,53939.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000,1.882300e+07

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,53940.0,2.696950e+04,1.557128e+04,0.0,13484.75,26969.50,40454.25,53939.00
id,53940.0,2.696950e+04,1.557128e+04,0.0,13484.75,26969.50,40454.25,53939.00
carat,53940.0,7.979397e-01,4.740112e-01,0.2,0.40,0.70,1.04,5.01
depth,53940.0,6.174940e+01,1.432621e+00,43.0,61.00,61.80,62.50,79.00
table,53940.0,5.745718e+01,2.234491e+00,43.0,56.00,57.00,59.00,95.00
price,53940.0,3.932800e+03,3.989440e+03,326.0,950.00,2401.00,5324.25,18823.00
x,53940.0,5.731157e+00,1.121761e+00,0.0,4.71,5.70,6.54,10.74
y,53940.0,5.734526e+00,1.142135e+00,0.0,4.72,5.71,6.54,58.90
z,53940.0,3.538734e+00,7.056988e-01,0.0,2.91,3.53,4.04,31.80
price2,53936.0,3.932977e+06,3.989521e+06,326000.0,950000.00,2401000.00,5325000.00,18823000.00

# Sütun İşlemleri

In [ ]:
df.head(3)

,Unnamed: 0,id,carat,cut,color,clarity,depth,table,price,x,y,z,price2
0,0,0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,NaN
1,1,1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,326000.0
2,2,2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,327000.0

In [ ]:
df['depth']

0        61.5
1        59.8
2        56.9
3        62.4
4        63.3
         ...
53935    60.8
53936    63.1
53937    62.8
53938    61.0
53939    62.2
Name: depth, Length: 53940, dtype: float64

In [ ]:
df.depth

0        61.5
1        59.8
2        56.9
3        62.4
4        63.3
         ...
53935    60.8
53936    63.1
53937    62.8
53938    61.0
53939    62.2
Name: depth, Length: 53940, dtype: float64

In [ ]:
df.Unnamed: 0

In [ ]:
df['Unnamed: 0']

0            0
1            1
2            2
3            3
4            4
         ...
53935    53935
53936    53936
53937    53937
53938    53938
53939    53939
Name: Unnamed: 0, Length: 53940, dtype: int64

In [ ]:
df['depth']

0        61.5
1        59.8
2        56.9
3        62.4
4        63.3
         ...
53935    60.8
53936    63.1
53937    62.8
53938    61.0
53939    62.2
Name: depth, Length: 53940, dtype: float64

In [ ]:
df[['depth']]

       depth
0       61.5
1       59.8
2       56.9
3       62.4
4       63.3
...      ...
53935   60.8
53936   63.1
53937   62.8
53938   61.0
53939   62.2

[53940 rows x 1 columns]

In [ ]:
df.head()

,Unnamed: 0,id,carat,cut,color,clarity,depth,table,price,x,y,z,price2
0,0,0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,NaN
1,1,1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,326000.0
2,2,2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,327000.0
3,3,3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,NaN
4,4,4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,335000.0

In [ ]:
df[['carat' , 'price']]

       carat  price
0       0.23    326
1       0.21    326
2       0.23    327
3       0.29    334
4       0.31    335
...      ...    ...
53935   0.72   2757
53936   0.72   2757
53937   0.70   2757
53938   0.86   2757
53939   0.75   2757

[53940 rows x 2 columns]

In [ ]:
df.drop('Unnamed: 0' , axis = 1 , inplace = True)
# df = df.drop('Unnamed: 0' , axis = 1)

In [ ]:
df.head()

,id,carat,cut,color,clarity,depth,table,price,x,y,z,price2
0,0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,NaN
1,1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,326000.0
2,2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,327000.0
3,3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,NaN
4,4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,335000.0

In [ ]:
# df['price'] = df['price'] * 1.3
df['price'] * 1.3

0         423.8
1         423.8
2         425.1
3         434.2
4         435.5
          ...
53935    3584.1
53936    3584.1
53937    3584.1
53938    3584.1
53939    3584.1
Name: price, Length: 53940, dtype: float64

In [ ]:
df['price'] / df['carat']

0        1417.391304
1        1552.380952
2        1421.739130
3        1151.724138
4        1080.645161
            ...
53935    3829.166667
53936    3829.166667
53937    3938.571429
53938    3205.813953
53939    3676.000000
Length: 53940, dtype: float64

In [ ]:
df.head()

,id,carat,cut,color,clarity,depth,table,price,x,y,z,price2
0,0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,NaN
1,1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,326000.0
2,2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,327000.0
3,3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,NaN
4,4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,335000.0

In [ ]:
df['price_per_carat'] = df['price'] / df['carat']

In [ ]:
df.head()

,id,carat,cut,color,clarity,depth,table,price,x,y,z,price2,price_per_carat
0,0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,NaN,1417.391304
1,1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,326000.0,1552.380952
2,2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,327000.0,1421.739130
3,3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,NaN,1151.724138
4,4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,335000.0,1080.645161

## Filtreleme

In [ ]:
df.head()

,id,carat,cut,color,clarity,depth,table,price,x,y,z,price2,price_per_carat
0,0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,NaN,1417.391304
1,1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,326000.0,1552.380952
2,2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,327000.0,1421.739130
3,3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,NaN,1151.724138
4,4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,335000.0,1080.645161

In [ ]:
df_simple = pd.DataFrame({'Year' : [1071, 1830, 1776],
                          'Pop' : [80 , 10 , 328],
                          'GDP' : [0.82 , 0.21 , 20.5]} , index= ['Türkiye' , 'Yunanistan' , 'ABD'])
df_simple

            Year  Pop    GDP
Türkiye     1071   80   0.82
Yunanistan  1830   10   0.21
ABD         1776  328  20.50

In [ ]:
# 1800 yılından önce kurulmuş ülkeleri getir.

df_simple[df_simple['Year'] < 1800]

         Year  Pop    GDP
Türkiye  1071   80   0.82
ABD      1776  328  20.50

In [ ]:
# Popülasyonu 100'den büyükler gelsin.

df_simple[df_simple['Pop'] > 100]

     Year  Pop   GDP
ABD  1776  328  20.5

In [ ]:
df.head(3)

,id,carat,cut,color,clarity,depth,table,price,x,y,z,price2,price_per_carat
0,0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,NaN,1417.391304
1,1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,326000.0,1552.380952
2,2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,327000.0,1421.739130

In [ ]:
df[df['clarity'] == 'VS1']

,id,carat,cut,color,clarity,depth,table,price,x,y,z,price2,price_per_carat
2,2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,327000.0,1421.739130
9,9,0.23,Very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39,338000.0,1469.565217
11,11,0.23,Ideal,J,VS1,62.8,56.0,340,3.93,3.90,2.46,340000.0,1478.260870
22,22,0.23,Very Good,H,VS1,61.0,57.0,353,3.94,3.96,2.41,353000.0,1534.782609
26,26,0.24,Premium,I,VS1,62.5,57.0,355,3.97,3.94,2.47,355000.0,1479.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53901,53901,0.57,Premium,E,VS1,61.6,58.0,2753,5.36,5.33,3.29,2753000.0,4829.824561
53914,53914,0.84,Good,I,VS1,63.7,59.0,2753,5.94,5.90,3.77,2753000.0,3277.380952
53918,53918,0.76,Premium,I,VS1,59.3,62.0,2753,5.93,5.85,3.49,2753000.0,3622.368421
53922,53922,0.70,Very Good,D,VS1,63.1,59.0,2755,5.67,5.58,3.55,2755000.0,3935.714286
53929,53929,0.71,Ideal,G,VS1,61.4,56.0,2756,5.76,5.73,3.53,2756000.0,3881.690141

In [ ]:
# Mantıksal İfadeler
# And --> &
# Or --> |

In [ ]:
df[(df['color'] == 'E') & (df['depth'] > 60)]

,id,carat,cut,color,clarity,depth,table,price,x,y,z,price2,price_per_carat
0,0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,NaN,1417.391304
8,8,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49,337000.0,1531.818182
14,14,0.20,Premium,E,SI2,60.2,62.0,345,3.79,3.75,2.27,345000.0,1725.000000
15,15,0.32,Premium,E,I1,60.9,58.0,345,4.38,4.42,2.68,345000.0,1078.125000
21,21,0.23,Very Good,E,VS2,63.8,55.0,352,3.85,3.92,2.48,352000.0,1530.434783
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53926,53926,0.71,Ideal,E,SI1,61.9,56.0,2756,5.71,5.73,3.54,2756000.0,3881.690141
53928,53928,0.79,Premium,E,SI2,61.4,58.0,2756,6.03,5.96,3.68,2756000.0,3488.607595
53930,53930,0.71,Premium,E,SI1,60.5,55.0,2756,5.79,5.74,3.49,2756000.0,3881.690141
53932,53932,0.70,Very Good,E,VS2,60.5,59.0,2757,5.71,5.76,3.47,2757000.0,3938.571429
53933,53933,0.70,Very Good,E,VS2,61.2,59.0,2757,5.69,5.72,3.49,2757000.0,3938.571429

In [ ]:
df[(df['price'] > 350) | (df['cut'] == 'Premium')]

,id,carat,cut,color,clarity,depth,table,price,x,y,z,price2,price_per_carat
1,1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,326000.0,1552.380952
3,3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,NaN,1151.724138
12,12,0.22,Premium,F,SI1,60.4,61.0,342,3.88,3.84,2.33,342000.0,1554.545455
14,14,0.20,Premium,E,SI2,60.2,62.0,345,3.79,3.75,2.27,345000.0,1725.000000
15,15,0.32,Premium,E,I1,60.9,58.0,345,4.38,4.42,2.68,345000.0,1078.125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,2757000.0,3829.166667
53936,53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,2757000.0,3829.166667
53937,53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,NaN,3938.571429
53938,53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,2757000.0,3205.813953
53939,53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,NaN,3676.000000

In [ ]:
# Color'ı 'H' olan VE depth'i 62'den büyük olan satırları getirin.

In [ ]:
# price'ı 1000'den büyük olan VE clarity'si I1 olan kaç tane elmas olduğunu bulalım.

In [ ]:
# carat'ı 3'den büyük olan VEYA derinliği 68'den fazla olan kaç tane elmas olduğunu bulalım.

In [ ]:
# Table'ı 70'den büyük olan VEYA price'ı 1000'den küçük olan kaç tane elmas olduğunu bulalım.

In [ ]:
# Price'ı 400 ile 600 arasında olan satırları getirin. (Bunu henüz görmediniz ama deneyebilirsiniz.)

In [ ]:
# Color'ı E , D veya H olan kaç tane elmas olduğunun sayısını bulun. (Bunu da henüz görmediniz ama deneyebilirsiniz.)

In [ ]:
df[(df['color'] == 'H') & (df['depth'] > 62)]

,id,carat,cut,color,clarity,depth,table,price,x,y,z,price2,price_per_carat
37,37,0.31,Good,H,SI1,64.0,54.0,402,4.29,4.31,2.75,402000.0,1296.774194
44,44,0.32,Good,H,SI2,63.1,56.0,403,4.34,4.37,2.75,403000.0,1259.375000
47,47,0.32,Good,H,SI2,63.8,56.0,403,4.36,4.38,2.79,403000.0,1259.375000
71,71,0.30,Very Good,H,SI1,63.1,56.0,554,4.29,4.27,2.70,554000.0,1846.666667
72,72,0.30,Premium,H,SI1,62.9,59.0,554,4.28,4.24,2.68,554000.0,1846.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53841,53841,0.80,Very Good,H,SI1,63.8,56.0,2739,5.85,5.91,3.75,2739000.0,3423.750000
53851,53851,0.71,Ideal,H,VVS1,62.1,57.0,2742,5.67,5.70,3.53,2742000.0,3861.971831
53897,53897,1.02,Good,H,I1,64.3,63.0,2751,6.28,6.23,4.02,2751000.0,2697.058824
53899,53899,0.72,Ideal,H,VVS2,62.3,56.0,2752,5.74,5.81,3.60,2752000.0,3822.222222
53900,53900,0.73,Ideal,H,VS2,62.5,58.0,2752,5.71,5.75,3.58,2752000.0,3769.863014

In [ ]:
df[(df['price'] > 1000) & (df['clarity'] == 'I1')].shape[0]

674

In [ ]:
df[(df['carat'] > 3) | (df['depth'] > 68)].shape[0]

120

In [ ]:
df[(df['table'] > 70) | (df['price'] < 1000)].shape[0]

14507

In [ ]:
df[(df['price'] >= 400) & (df['price'] <= 600)]

,id,carat,cut,color,clarity,depth,table,price,x,y,z,price2,price_per_carat
30,30,0.23,Very Good,F,VS1,60.0,57.0,402,4.00,4.03,2.41,402000.0,1747.826087
31,31,0.23,Very Good,F,VS1,59.8,57.0,402,4.04,4.06,2.42,402000.0,1747.826087
32,32,0.23,Very Good,E,VS1,60.7,59.0,402,3.97,4.01,2.42,402000.0,1747.826087
33,33,0.23,Very Good,E,VS1,59.5,58.0,402,4.01,4.06,2.40,402000.0,1747.826087
34,34,0.23,Very Good,D,VS1,61.9,58.0,402,3.92,3.96,2.44,402000.0,1747.826087
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53635,53635,0.30,Ideal,I,VVS1,62.1,56.0,552,4.30,4.33,2.68,552000.0,1840.000000
53636,53636,0.30,Ideal,D,SI1,61.6,57.0,552,4.28,4.32,2.65,552000.0,1840.000000
53637,53637,0.30,Very Good,D,SI1,62.5,57.0,552,4.26,4.28,2.67,552000.0,1840.000000
53638,53638,0.30,Ideal,D,SI1,61.0,57.0,552,4.29,4.33,2.63,552000.0,1840.000000
53639,53639,0.30,Ideal,D,SI1,61.0,56.0,552,4.35,4.37,2.66,552000.0,1840.000000

In [ ]:
df[df['price'].between(400,600)]

,id,carat,cut,color,clarity,depth,table,price,x,y,z,price2,price_per_carat
30,30,0.23,Very Good,F,VS1,60.0,57.0,402,4.00,4.03,2.41,402000.0,1747.826087
31,31,0.23,Very Good,F,VS1,59.8,57.0,402,4.04,4.06,2.42,402000.0,1747.826087
32,32,0.23,Very Good,E,VS1,60.7,59.0,402,3.97,4.01,2.42,402000.0,1747.826087
33,33,0.23,Very Good,E,VS1,59.5,58.0,402,4.01,4.06,2.40,402000.0,1747.826087
34,34,0.23,Very Good,D,VS1,61.9,58.0,402,3.92,3.96,2.44,402000.0,1747.826087
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53635,53635,0.30,Ideal,I,VVS1,62.1,56.0,552,4.30,4.33,2.68,552000.0,1840.000000
53636,53636,0.30,Ideal,D,SI1,61.6,57.0,552,4.28,4.32,2.65,552000.0,1840.000000
53637,53637,0.30,Very Good,D,SI1,62.5,57.0,552,4.26,4.28,2.67,552000.0,1840.000000
53638,53638,0.30,Ideal,D,SI1,61.0,57.0,552,4.29,4.33,2.63,552000.0,1840.000000
53639,53639,0.30,Ideal,D,SI1,61.0,56.0,552,4.35,4.37,2.66,552000.0,1840.000000

In [ ]:
df[df['color'].isin(['E' , 'D' , 'H'])]

,id,carat,cut,color,clarity,depth,table,price,x,y,z,price2,price_per_carat
0,0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,NaN,1417.391304
1,1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,326000.0,1552.380952
2,2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,327000.0,1421.739130
7,7,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53,337000.0,1296.153846
8,8,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49,337000.0,1531.818182
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,2757000.0,3829.166667
53936,53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,2757000.0,3829.166667
53937,53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,NaN,3938.571429
53938,53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,2757000.0,3205.813953
53939,53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,NaN,3676.000000

# Satır İşlemleri

In [ ]:
# df_simple = pd.DataFrame({'Year' : [1071, 1830, 1776],
#                           'Pop' : [80 , 10 , 328],
#                           'GDP' : [0.82 , 0.21 , 20.5]} , index= ['Türkiye' , 'Yunanistan' , 'ABD'])

In [ ]:
df_simple

            Year  Pop    GDP
Türkiye     1071   80   0.82
Yunanistan  1830   10   0.21
ABD         1776  328  20.50

In [ ]:
# .loc ve .iloc methodlarıyla istediğimiz satırları çekebiliriz.

In [ ]:
df_simple.loc['Yunanistan']

Year    1830.00
Pop       10.00
GDP        0.21
Name: Yunanistan, dtype: float64

In [ ]:
df_simple.loc[['Yunanistan']]

            Year  Pop   GDP
Yunanistan  1830   10  0.21

In [ ]:
df_simple.iloc[1]

Year    1830.00
Pop       10.00
GDP        0.21
Name: Yunanistan, dtype: float64

In [ ]:
df_simple.iloc[[1]]

            Year  Pop   GDP
Yunanistan  1830   10  0.21

In [ ]:
df_simple.loc['Türkiye' : 'Yunanistan' ] # Stop noktası dahil.

            Year  Pop   GDP
Türkiye     1071   80  0.82
Yunanistan  1830   10  0.21

In [ ]:
df_simple.iloc[0:2] # Stop noktası dahil değil.

            Year  Pop   GDP
Türkiye     1071   80  0.82
Yunanistan  1830   10  0.21

In [ ]:
df_simple.loc[['Türkiye' , 'ABD']]

         Year  Pop    GDP
Türkiye  1071   80   0.82
ABD      1776  328  20.50

In [ ]:
df_simple.iloc[[0 , 2]]

         Year  Pop    GDP
Türkiye  1071   80   0.82
ABD      1776  328  20.50

In [ ]:
# Done